*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: 'Raleway', sans-serif;
}


body{
    width: 751px;
    height: 489px;
    background-color: #6FCF97;
}

.container{
    font-size: 48px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 198px 229px 175px 229px;

}